h1 {
    padding-top: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trail-info {
    border: 1px solid gray;
    width: 250px;
    margin: 40px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;

    img {
        max-width: 100%;
        width: 100%;
    }

    .details {
        padding: 20px;
        padding-top: 0px;
    }
}

i {
    text-align: center;
    padding-left: 100px;

}