//*******************Variables****************/

$main-color: #283027;

.header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background: $main-color;
    
    .container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 768px) {
            flex-direction: column;
          }

        h1 {
            font-family: 'Montserrat', sans-serif;
            color: white;
        }
    }

}



.nav-bar {
    width: 35%;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
        width: 90%;
      }

    @media only screen and (max-width: 500px) {
        flex-direction: column;
        text-align: center;
      }

    .nav {
        text-decoration: none;
        font-size: 20px;
        color: white;
        padding: 20px;
    }
}

h2 {
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;

    @media only screen and (max-width: 500px) {
        text-align: center;
      }
}


.wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
      }
}

.trail-info {
    border: 1px solid gray;
    width: 250px;
    margin: 40px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;

    @media only screen and (max-width: 700px) {
        margin: 0 auto;
        margin-top: 20px;
      }

    img {
        max-width: 100%;
        width: 100%;
    }

    .details {
        padding: 20px;
        padding-top: 0px;
    }
}
a {
    display: flex;
    justify-content: center;
    i {
        padding-left: 100px;
        color: black;
        padding: 5px;


        &:hover {
            background: $main-color;
            color: white;
            border-radius: 5px;
        }

    }

}


.footer {
    text-align: center;
    font-family: "Roboto", sans-serif;
}